@(urlF: Form[String])(implicit messages: Messages)

@main("MyShroom - Identify a Mushroom") {

<div style="margin-left:auto;margin-right:auto;width:420px;height:420px;">
  <img src="@routes.Assets.versioned("images/icon.png")">

  @helper.form(action = routes.Api.fromForm()) {
  <div class="input-group">
    <input type="text" name="url" placeholder="URL to Mushroom Image (jpg only)" class="form-control">

    <span class="input-group-btn">
      <button type="submit" class="btn btn-success">
        Identify
      </button>
    </span>
  </div>
  }

  <br>
  <center>
    <p>
      <i>
        Note: this system is still in the <b>Alpha</b> stage of development.
        As of 2015/12/07, this means:
      </i>
    </p>
  </center>

  <ol>
    <li>We currently can only identify 15 mushroom types</li>
    <li>The identification system may fail if over-accessed</li>
    <li>We make no guarantees as to the accuracy of the results</li>
  </ol>

  <center>
    <p>
      <i>
        <b>Never</b> consume a mushroom identified by our system.
        By using MyShroom's identification feature, you agree to absolve
        us of all legal responsibility in the event of a misclassification.
      </i>
    </p>

    <p>
      <i>
        Please send feedback to
        <a href="mailto:colingw@@gmail.com">colingw@@gmail.com</a>
      </i>
    </p>
  </center>

</div>

}
